In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from dateutil.parser import parse
from time import sleep, time
from random import randint
import re

In [2]:
URL="https://www.bis.org/cbanks.htm"
r = requests.get(URL)
soup = BeautifulSoup(r.content, 'html5lib')
content=soup.find('div',attrs={'class':"country_institutions"}).find("tbody")

In [3]:
selects = content.findAll('tr',attrs={'class':"index_letter"})
for match in selects:
    match.decompose()

In [4]:
all_companies=[]
for row in content.find_all('tr'):
    company={}
    company_info=row.find_all('td')
    company["country"]=company_info[0].text.strip()
    company["company_name"]=company_info[1].text.strip()
    all_companies.append(company)

In [5]:
all_companies=pd.DataFrame(all_companies)

In [6]:
all_companies

         country               company_name
0    Afghanistan        Bank of Afghanistan
1        Albania            Bank of Albania
2        Algeria            Bank of Algeria
3         Angola    National Bank of Angola
4      Argentina  Central Bank of Argentina
..           ...                        ...
209
210        Yemen      Central Bank of Yemen
211
212       Zambia             Bank of Zambia
213     Zimbabwe   Reserve Bank of Zimbabwe

[214 rows x 2 columns]